<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!--必选权限-->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <!--强烈建议 sdk 获取 IMEI 时会需要此权限；获取不到不影响功能正常使用，IMEI 用于辅助数据分析、广告归因，使统计结果更加精确-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>
